<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="heading text-center">
				<div class="h3 muted">news analysis+synthesis</div>
			</div>
		</div>
	</div>
</section>
