<section class="todo">
    <h3><strong>TODO:</strong></h3>
    <ul>
        <li ng-repeat="todo in todos">
            {{todo.val}}
            <ul ng-if="todo.more">
                <li ng-repeat="sub in todo.more">{{sub}}</li>
            </ul>
        </li>
    </ul>
</section>
