.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

a { cursor: pointer; }

todos {
    position: fixed;
    background: white;
    width: 350px;
    bottom: 0;
    right: 25px;
    padding: 1em;
    z-index: 9;
    border: 1px solid #eee;
}

todos:hover {
    opacity: 0; visibility: 0;
}

.table {
    text-align: center;
    overflow-X: scroll;
    position: relative;
    display: block;
    white-space: nowrap;
}
