<section data-ng-controller="LinguistController">
    <div class="page-header">
        <h1>Linguist</h1>
    </div>
    <todos></todos>
    <tabset>
        <tab heading="Summary">
            <div class="row">
                <div class="col-xs-6">
                    <form ng-submit="summary.summarize()">
                        <textarea class="form-control" rows="30" ng-model="summary.text"></textarea>
                        <div class="input-group">
                            <input type="number" class="form-control" ng-model="summary.lines" placeholder="Number of lines">
                            <div class="input-group-btn">
                                <button class="btn btn-default">
                                    Summarize
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-xs-6">
                    <p class=""
                       ng-repeat="line in summary.resultLexRank.result"
                       ng-bind="line.text" style="color: {{line.color}}"></p>
                </div>
            </div>
        </tab>
        <tab heading="NLP">
            <div class="row">
                <div class="col-md-6">
                    <h4 align="center"><a href="https://github.com/spencermountain/nlp_compromise" target="_blank">nlp_compromise</a>, wrapped in angular module</h4>
                    <textarea class="form-control" rows="15" contenteditable="true" ng-model="vm.text"></textarea>
                    <br/>
                    <button ng-click="linguist.analyze()" tabindex="1" class="btn btn-default btn-lg">Analyze That</button>
                </div>

                <div class="col-md-6">
                    <div ng-if="vm.nouns">
                        <h4>Nouns:</h4>
                        <p>{{ vm.nouns }}</p>
                    </div>
                    <div ng-if="vm.adjectives">
                        <h4>Adjectives:</h4>
                        <p>{{ vm.adjectives }}</p>
                    </div>
                    <div ng-if="vm.adverbs">
                        <h4>Adverbs:</h4>
                        <p>{{ vm.adverbs }}</p>
                    </div>
                    <div ng-if="vm.verbs">
                        <h4>Verbs:</h4>
                        <p>{{ vm.verbs }}</p>
                    </div>
                    <div ng-if="vm.values">
                        <h4>Values:</h4>
                        <p>{{ vm.values }}</p>
                    </div>
                    <div ng-if="vm.sentiments">
                        <h4>Sentiments:</h4>
                        <p>{{ vm.sentiments}}</p>
                    </div>
                </div>

                <hr/>

                <table ng-repeat="sentence in linguist.result.sentences track by $index" class="table table-bordered">
                    <tr ng-repeat="word in sentence track by $index">
                        <td ng-repeat="part in word track by $index" ng-bind="part"></td>
                    </tr>
                </table>
            </div>
        </tab>
    </tabset>

</section>
