<section data-ng-controller="GatherController">
    <div class="page-header">
        <h1>Gatherer</h1>
    </div>
    <todos></todos>
    <form data-ng-submit="gather()" novalidate class="row">
        <div class="col-xs-4"><input tabindex="1" class="form-control" data-ng-model="fetch.url" placeholder="Enter a web page to fetch" type="text"/></div>
        <div class="col-xs-4"><input tabindex="2" class="form-control" data-ng-model="fetch.selector" placeholder="Selector" type="text"/></div>
        <div class="col-xs-4"><input tabindex="3" class="form-control" data-ng-model="fetch.extract" placeholder="Extract" type="text"/></div>
        <div class="col-xs-12"><input  tabindex="4" class="btn btn-default" type="submit"/></div>
    </form>

    <br/>

    <pre>{{ gathering | json }}</pre>
</section>
