<section data-ng-controller="ReadersController">
    <div class="page-header">
        <h1>Reader</h1>
    </div>
    <todos></todos>
    <div>
        <form data-ng-submit="speak.exec()" novalidate class="row">
            <div class="col-xs-8">
                <textarea tabindex="1"
                          data-ng-model="ttsText.data"
                          class="form-control"
                          name="tts-area"
                          rows="5"
                          placeholder="Type something to read"></textarea>
                <br/>
                <input tabindex="2"
                       class="btn btn-default btn-block"
                       type="submit"/>
            </div>
        </form>
    </div>

    <div class="col-md-8">
        <h3 class="text-center">
            {{audio.id}}
        </h3>
    </div>
    <div class="row">
        <div ng-if='!audio.error' class='form-group col-md-8'>
            <form class=form-inline>
                <div class='form-group col-xs-9'>
                    <button class='btn btn-primary' ng-click='audio.paused ? audio.play() : audio.pause()'>{{audio.paused ? "Play" : "Pause" }}</button>
                    <button class='btn btn-danger' ng-click='audio.restart()'>Stop</button>
                    <button class='btn btn-neutral' ng-click='audio.muting = !audio.muting'>{{audio.muting ? "Unmute" : "Mute" }}</button>
                </div>
                <div class="form-group col-xs-3">
                    <label>Loop
                        <select  class='form-control input-small select' ng-model=audio.loop ng-options="value for value in [true,0,1,2,3,4,5]"></select>
                    </label>
                </div>
            </form>
        </div>
    </div>

    <form class='form-horizontal'>
        <div class="form-group">
            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-addon">Current Time</span>
                    <input class='form-control' type=text ng-model='audio.currentTime'>
                </div>
            </div>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">Progress</span>
                    <input class='form-control' type=range min=0 max=1 step=0.01 ng-model='audio.progress'>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">Volume - {{audio.volume}}</span>
                    <input class='form-control' type=range min=0 max=1 step=0.01 ng-model='audio.volume'>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">Playback Rate - {{audio.audio.playbackRate}}</span>
                    <input class='form-control' type=range min=0.75 max=3 step=0.25 ng-model='audio.audio.playbackRate'>
                </div>
            </div>
        </div>
    </form>
</section>
